.early-booking {
  position: relative;
}
.early-booking * {
  box-sizing: border-box;
}
.early-booking .swiper {
  width: 100%;
  height: 570px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.early-booking .swiper.swiper-initialized {
  opacity: 1;
}
.early-booking .swiper-slide {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.early-booking .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.early-booking__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: Montserrat, Arial, sans-serif;
  padding: 30px 30px 40px;
  -webkit-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease;
  z-index: 10;
}
.early-booking__price {
  background-color: #ffc400;
  border-radius: 2px;
  height: 22px;
  padding: 0 3px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  line-height: 22px;
  margin-bottom: 22px;
}
.early-booking__heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 0;
  -webkit-transition: margin-bottom 0.4s linear;
  transition: margin-bottom 0.4s linear;
}
.early-booking__text {
  font-size: 18px;
  color: #fff;
  line-height: 1.7;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  height: 0;
  overflow: hidden;
}
.early-booking__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  z-index: 10;
}
.early-booking__button {
  background-color: #ba1f2e;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.early-booking__button:hover {
  background-color: rgba(186, 31, 46, 0.7);
  color: #fff;
}
.early-booking .swiper-button-prev,
.early-booking .swiper-button-next {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.early-booking .swiper-button-prev:hover,
.early-booking .swiper-button-next:hover {
  background-color: rgba(186, 31, 46, 1);
}
.early-booking .swiper-button-prev:after,
.early-booking .swiper-button-next:after {
  display: none;
}
.early-booking .swiper-button-prev svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: 6px;
}
.early-booking .swiper-button-next svg {
  margin-left: 6px;
}
.early-booking .swiper-button-prev svg .a,
.early-booking .swiper-button-next svg .a {
  fill: #000;
}
.early-booking .swiper-button-prev:hover svg .a,
.early-booking .swiper-button-next:hover svg .a {
  fill: #fff;
}
.early-booking .swiper-button-prev {
  left: -120px;
}
.early-booking .swiper-button-next {
  right: -120px;
}
.early-booking .swiper {
  padding: 0 calc((100vw - 17px - 1440px) / 2);
  margin: 0 calc((100vw - 17px - 1440px) / -2);
  width: calc(100vw - 17px);
}
@media (max-width: 1700px) {
  .early-booking .swiper-button-prev,
  .early-booking .swiper-button-next {
    display: none;
  }
}
@media (max-width: 1599px) {
  .early-booking .swiper {
    padding: 0 calc((100vw - 17px) * 0.05);
    margin: 0 calc((100vw - 17px) * -0.05);
    width: calc(100vw - 17px);
  }
}
@media (min-width: 1200px) {
  .early-booking .swiper-slide:hover {
    background-color: #000;
  }
  .early-booking .swiper-slide:hover img {
    opacity: 0.5;
  }
  .early-booking .swiper-slide:hover .early-booking__content {
    bottom: 110px;
  }
  .swiper-slide:hover .early-booking__heading {
    margin-bottom: 30px;
  }
  .swiper-slide:hover .early-booking__text {
    opacity: 1;
    height: 123px;
  }
  .swiper-slide:hover .early-booking__btn {
    opacity: 1;
  }
}
@media (max-width: 1199px) {
  .early-booking .swiper {
    padding: 0 33px;
    margin: 0 -33px;
    width: 100vw; /*calc(100vw - 17px)*/
  }
  .early-booking .swiper-slide .early-booking__content {
    bottom: 115px;
    padding-bottom: 0;
  }
  .early-booking__btn {
    opacity: 1;
  }
  .early-booking__button,
  .early-booking__button:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
@media (max-width: 680px) {
  .early-booking .swiper {
    padding: 0 23px;
    margin: 0 -23px;
    width: 100vw;
  }
}
